<div class=" d-flex justify-content-center">
    <button class="btn btn-info m-3" (click)="goToDistributor()">Distributor Registaration</button>
    <button class="btn btn-info m-3" (click)="goToSales()">Distributor Sales</button>
</div>
<div class="py-5 d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="submit()">

        <h1>Product Registration</h1>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" formControlName="code" id="floatingInput" placeholder="code">
            <label for="floatingInput">Product Code</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" formControlName="productname" placeholder="productname">
            <label>Product Name</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" formControlName="price" placeholder="price">
            <label>Price</label>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-outline-secondary" [disabled]="!form.valid" [style.background-color]="form.invalid ? 'gray' : 'green'">Submit</button>
    </form>
</div>